<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav sidebar="" class="sidebar">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- Iterates over all sidebar items-->
            <!--<li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index"-->
                <!--ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true)">-->
            <!--</li>-->

            <li>
                <a ng-href="/" title="c" data-toggle="collapse" class="nav-item">
                    <em class="cloudfont-device"></em>
                    <span >Device Management</span>
                </a>
                <ul id="device" class="nav sidebar-subnav">



                    <li>
                        <a  title="Device Management">

                        <span>Device Management</span>
                        </a>
                    </li>
                    <li>
                        <a title="Tag Group Setting">

                        <span>Tag Group Setting</span>
                        </a>
                    </li>


                </ul>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->



